/*HTML에 style.css를 link로 추가하는것 보다 css파일에 import해주는것이 좋다.*/
@import 'reset.css';
@import 'variables.css';

/*Components*/
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/badge.css';

/*Screens*/
@import 'screens/login-form.css';
@import 'screens/friends.css';
@import 'screens/find.css';

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:focus {
    outline: none;
}

html {
    margin: 1rem auto;
    max-width: 740px;
}

body {
    font-family: IBMPlexSansKR-Regular;
}

.main-screen {
    padding: 0 var(--horizontal-space);
}
