.friends-screen__channel-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
    font-weight: 200;
    font-size: 0.9rem;
}

.friends-screen__channel {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: var(--main-border);
}
