.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
}

.screen-header__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.screen-header__icon span {
    padding-left: 1.5rem;
    position: relative;
}

.screen-ad-post {
    margin: 0 1rem 2rem;
    display: flex;
}
.screen-ad-post img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
